

#booklist{
background-color: black;
color: aliceblue;
}

#booktitle{
    color: green;
    text-decoration: underline;
}
#mainPageHead{
    color: green;
}
#subHead{
    color: green;
}
#col{
    float: left;
}
